@import "tailwindcss";

.logo-bg {
  background-image: url(../assets/reward.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner1 {
  background-image: url("../assets/gorBanner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
